* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); 
  border: 1px solid transparent;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  z-index: 1000;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: 25px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  color: #636363;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-toggle .arrow {
  color: #636363;
}

.dropdown-toggle:hover {
  color: #000000;
}

.arrow {
  color: #000000;
  margin-left: 5px;
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  left: 40;
  align-items: center;
  background-color: black;
  color: white;
  min-width: 125px;
  padding: 10px 0;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

.dropdown-content a:hover {
  background-color: #8b8b8b;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  color: #050505;
}

/* Hero Section */
.hero {
  background: url('IMG/Background 4.jpg') no-repeat center center/cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.2;
  z-index: 1;
}

/* Side Menu */
.nav-logo img {
  width: 150px; 
  height: auto;  
  display: block;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #ffffff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: right 0.3s ease;
  z-index: 1001;
  padding: 20px;
}

.side-menu.open {
  right: 0;
}

.side-menu .top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-menu a {
  text-decoration: none;
  color: #050505;
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
}

.side-menu .bottom {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: black; 
  margin-bottom: 8px;
}

.contact-item a {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: inherit; 
}

.contact-item i {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px; 
  margin-right: 10px; 
}

.contact-item span {
  text-align: center;
  font-size: 13px; 
  font-weight: 400;
  cursor: pointer;
}

.contact-item:hover span {
  color: #b5b5b5;
  transition: color 0.3s ease;
}

.powered {
  font-style: italic;
  font-size: 11px;
  margin-top: 10px;
  text-align: center;
}

.powered-photo {
  text-align: center;
  font-size: 11px;
}

/*Main (Text)*/
.gallery-container h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.hover-underline {
  display: inline-block;
  border-bottom: 2px solid black;
  transition: border-bottom-width 0.2s;
}

.hover-underline:hover {
  border-bottom-width: 4px;
}

.centered-title {
  display: flex;
  padding: 25px 20px 5px 120px;
}